body {
  background-color: #394045;
  padding: 0.4rem;
}

header {
  text-align: center;
}

h1 {
  color: #F75B57;
  display: inline-block;
  font-size: 5.3rem;
}

.colors {
  text-align: center;
  margin-bottom: 5rem;
}

.color-button {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 1rem;
  display: inline-block;
}

h5 {
  color: white;
  font-size: 1rem;
  letter-spacing: 0.2em;

}

.lock-button {
  margin-top: 2rem;
  background-image: url("../assets/unlock-white.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
}

.lock { 
  margin-top: 2rem;
}

.active {
  background-image: url("../assets/locked.svg");
}

.generate-colors {
  display: block;
  margin: 0 auto;
  background-color: #10daf4;
  color: white;
  width: 16rem;
  height: 3rem;
  border-radius: 5%;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.new-project, .new-palette, .project-title {
  margin-left: 26rem;
  color: #F75B57;
  text-align: left;
  font-size: 2rem;
}

.project-options {
  width: 15rem;
  height: 2.3rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  background-color: #D3D3D3;
  color: #2A2A2A;
}

.palette-input, .project-input {
  width: 14rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: #D3D3D3;
  color: #2A2A2A;
}

.save {
  height: 2.5rem;
  font-size: 1.5rem;
  margin-left: 1rem;
  background-color: #D3D3D3;
  color: #2A2A2A;
}

.palette-form, .project-form {
  text-align: center;
  margin: 2rem 0;
}

.featured-project {
  display: block;
  margin-left: 25rem;
}

span {
  display: inline-block;
}

h2 {
  color: white;
}

.project-name {
  color: white;
  font-size: 2rem;
  display: block;
  margin: 2rem;
}

.project-title {
  margin-bottom: 0;
}

.palette, .palette-div {
  display: inline-block;
  margin-left: 3.5rem;
}

.palette-name {
  font-size: 2rem;
  color: #36A377;
  margin-right: 1.5rem;
}

.scoop {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-bottom: -3rem;
  margin-right: 14rem ;
}

.delete {
  background-image: url("../assets/delete.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  margin-left: 3.5rem; 
}

.cone {
  background-image: url("../assets/cone.svg"); 
  background-repeat: no-repeat;
  background-size: cover;
  width: 7rem;
  height: 6.5rem; 
}




