body {
  background-color: #394045;
}

header {
  margin-bottom: 4rem;
  text-align: center;
}

h1 {
  color: #F75B57;
  display: inline-block;
  font-size: 5.3rem;
}

.colors {
  text-align: center;
  margin-bottom: 3rem;
}

.color-button {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 1rem;
  display: inline-block;
}

.lock { 
  margin-top: 6rem;
}

.generate-colors {
  display: block;
  margin: 0 auto;
  background-color: #6cc4ee;
  width: 16rem;
  height: 3rem;
  border-radius: 5%;
  font-size: 1.5rem;
  margin-top: 2rem;
}
